$primary-color: #d23d95;
$secondary-color: #9e256c;
$light-color: #f6d8e9;
$dark-color: #54183b;
$gray-color: #e4e4e4;
$white-color: #fff;
$whatsapp-color: #1e9d13;
$messenger-color: #0078fd;
$facebook-color: #4667ab;
$instagram-color: #fec554;
$email-color: #f04335;
$phone-color: #43b92d;
$font-family: 'Roboto', sans-serif;
$font-family-secondary: 'Josefin Sans', sans-serif;
$special-font-family: 'Signika', sans-serif;
$max-width: 1100px;
